<div id="head">
    <a href="https://www.marketsmojo.com/mojo/resultcorner?RefBse=1" target="_blank">
        <h4>December 2019 Quarterly Results </h4>
    </a>
</div>
<div class="row">
    <div class="circle-container">
        <div class="row">
            <p class="circle" id="positive">27%</p>
        </div>
        <div class="row">
            <span>POSITIVE</span>
            <br>
            <span>666 Stocks</span>
        </div>
    </div>
    <div class="circle-container">
        <div>
            <p class="circle" id="negative">33%</p>
        </div>
        <div>
            <span>NEGATIVE</span>
            <br>
            <span>813 Stocks</span>
        </div>
    </div>
    <div class="circle-container">
        <div>
            <p class="circle" id="flat">41%</p>
        </div>
        <div>
            <span>FLAT</span>
            <br>
            <span>1012 Stocks</span>
        </div>
    </div>
</div>
<div id="data-table">
    <table width="100%">
        <thead width="100%">
            <td class="th">Company</td>
            <td class="th center">Financial Trend*</td>
            <td class="th center">Score</td>
        </thead>
        <tr>
            <td class="td">Company</td>
            <td class="td right">Financial Trend</td>
            <td class="td right">Score</td>
        </tr>
    </table>
</div>
<div class="row">
    <div id="advisory">* Financial Trend is the latest financial score of the company 
        using over 200 parameters including quarterly results, P&L, balance sheet, cash
         flow and shareholding pattern.</div>
    <div id="mkt-mojo-logo">
        <a href="https://www.marketsmojo.com/mojo/resultcorner?RefBse=1">
            <img id="mojo" src="../../assets/mojologo.png">
        </a>
    </div>
</div>