<div id="head">
    <a href="https://www.marketsmojo.com/mojo/resultcorner?RefBse=1" target="_blank">
        <h4>December 2019 Quarterly Results </h4>
    </a>
</div>
<div class="row">
    <div class="circle-container">
        <div class="row"></div>
        <div class="row">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="circle-container">
        <div></div>
        <div>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="circle-container">
        <div></div>
        <div>
            <span></span>
            <span></span>
        </div>
    </div>
</div>