<form name="register" class="" action="" [formGroup]="registrationForm" (submit)="validateForm()">
    <input type="text" name="pan" class="textbox" placeholder="Pan card number">
    <input type="text" name="aadhar" class="textbox" placeholder="Aadhar number">
    <input type="text" name="bankifsc" class="textbox" placeholder="IFSC code">
    <input type="text" name="bankaccnumber" class="textbox" placeholder="Account number">
    <input type="submit" name="submit" class="button" value="Register">
</form>