<button class="btn-dropdown" (click)="displayDropdown($event)">Group Websites <span class="caret"></span></button>
<ul *ngIf="display" class="dropdown-menu">
    <li class="menu-item"><a href="/static/markets/mutualfunds/BSEStarMF.aspx" target="_blank">BSE STAR MF</a></li>
    <li class="menu-item"><a href="http://www.bsebti.com/" target="_blank">BSE Institute Ltd</a></li>
    <li class="menu-item"><a href="http://www.bsesme.com/" target="_blank">BSE SME Platform</a></li>
    <li class="menu-item"><a href="http://www.startupsbse.com/" target="_blank">BSE Startups</a></li>
    <!--  <li class="divider"></li> -->
    <li class="menu-item"><a href="http://www.bsehitech.com/" target="_blank">BSE Hi-Tech</a></li>
    <li class="menu-item"><a href="http://www.bseipf.com/" target="_blank">BSE IPF</a></li>
    <li class="menu-item"><a href="https://www.cdslindia.com/index.html" target="_blank">CDSL</a></li>
    <li class="menu-item"><a href="http://www.icclindia.com/" target="_blank">ICCL</a></li>
    <li class="menu-item"><a href="http://www.indiainx.com/" target="_blank">India INX</a></li>
    <li class="menu-item"><a href="http://www.indiaicc.com/" target="_blank">India ICC</a></li>
    <li class="menu-item"><a href="http://www.mkttech.in/" target="_blank">Marketplace Technologies</a></li>
    <li class="menu-item"><a href="/members/members_portal.aspx" target="_blank">Members Portal</a></li>
    <li class="menu-item"><a href="http://www.bseindia.com/rgess/" target="_blank">RGESS</a></li>
    <!--<li><a href="http://www.bseindia.com/bsecmieindices/" target="_blank">BSE CMIE Indices</a></li>-->
    <li class="menu-item"><a href="http://www.bsesammaan.com/" target="_blank">BSE Sammaan</a></li>
</ul>