<div id="bse-head">
    <div id="div-bselogo">
        <a href="http://localhost:4200">
            <img src="../../assets/bselogo.png" class="img-bselogo">
        </a>
    </div>
    <div class="div4">
        <img src="../../assets/spbse.png" class="img2">
        <div class="rose">
            <ul>
                <li class="num">29,815.49</li>
                <li class="num1">-313.18-0.44%</li>
                <li class="num2">27 March20|16:00|<span style="color:red; font-weight: bold;">close</span></li>
            </ul>
        </div>
    </div>
    <div class="div3">
        <p class="para0">Get Quote</p>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Enter Security Name/code/id/isin" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>

                <select id="cars">
                    <optgroup label="Equity">
                        <option value="equity">Equity</option>
                        <option value="derivatives">Derivatives</option>
                    </optgroup>
                </select>
            </form>
        </div>
    </div>
</div>
<!-- 
<div class="header">
    <ul>
        <li><a href="/learn-html/html-links.html#html_links" id="home">Home</a></li>
        <li><a href="https://www.bseindia.com/static/about/contact_us.aspx">About BSE</a></li>
        <li><a>Investor Relation</a></li>
        <li><a>Markets</a></li>
        <li><a>Public Issues</a></li>
        <li><a>Corporate</a></li>
        <li><a>Members</a></li>
        <li><a>Investors</a></li>
        <li><a>Training &Certification</a></li>
    </ul>
</div>
<div class="middle">
    <div class="first"></div>
    <div class="second">
        <a href=""><img src="../../assets/bhav.png" class="img0"></a>
    </div>
</div> -->