#bse-head {
  width: 100%;
  height: 130px;
  /* padding: 20px 10px; */
}

#div-bselogo {
  display: inline-block;
}
.img-bselogo {
}
.img2 {
  /* width: 40%;
  height: 70%; */
}

.div3 {
  width: 30%;
  height: 70%;
  display: inline-block;
  margin: 19px;
}

#cars {
  display: inline-block;
  padding: 5px;
  width: 160px;
  background-color: black;
  color: white;
}
.para0 {
  padding-bottom: 5px;
  font-size: 16px;
  color: #10486b;
  font-weight: bold;
}

.div4 {
  width: 45%;
  display: inline-block;
  height: 100%;
}
.num {
  display: block;
  /* float: left; */
  font-size: 18px;
  font-weight: bold;
}

.num1 {
  font-size: 17px;
  font-weight: bold;
  color: red;
}

div.sp-logo {
  display: inline-block;
  width: 50%;
  height: inherit;
  text-align: right;
}

.rose {
  display: inline-block;
  width: 50%;
  height: 100%;
  /* float: right; */
  text-align: left;
}

p {
  margin: 5px;
}

.topnav a,
.topnav input[type=text],
.topnav .search-container button {
  float: none;
  display: block;
  text-align: left;
  margin: 0;
}
.topnav input[type=text] {
  font-size: 30px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #12354a;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

li {
  display: inline-block;
}
a {
  color: white;
  font-size: 15px;
  margin: 5px;
}
a:hover {
  color: red;
}

#home {
  background-color: orangered;
}

#home:hover {
  color: yellow;
}

.middle {
  width: 100%;
  height: 700px;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.first {
  width: 50%;
  height: 15%;
  background-color: white;
  margin-left: 90px;
  display: inline-block;
}
.second {
  width: 20%;
  height: 15%;
  background-color: white;
  display: inline-block;
  float: right;
  margin-right: 90px;
}

.img0 {
  width: 100%;
  height: 100%;
}

#status {
  font-weight: bold;
}

li {
  display: block;
}

#search-icon {
  padding: 5px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #a8acbc #babdcc #c0c3d2;
}

#search-box {
  border-style: none;
  /* padding-left: 5px; */
  margin-left: 5px;
}

#search-box:focus {
  border-style: none;
  box-shadow: none;
  outline: none;
}

i {
  color: #a8acbc;
}

.bse-dropdown-menu {
  width: 400px;
  height: fit-content;
  max-width: 400px;
  list-style: none;
  background-color: #FDFDFD;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  position: absolute;
  z-index: 1000;
  display: block;
  padding: 0px;
  color: #0089D0;
}

.list-item {
  padding: 10px 0px;
}

.list-item:hover {
  background-color: #338CDF;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #59AAF4, #338CDF);
}

.list-item:hover .item {
  color: white;
  text-decoration: none;
}

.item {
  color: #0089D0;
  font-size: 13px;
  margin: 0px 10px;
}

.item  span {
  /* margin: 5px; */
}