.registration-box {
    float: left;
    width: 60%;
    height: 100%;
    /* border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 0px #888888; */
}

.tab-header {
    border: none;
    box-shadow: none;
    margin: 20px 0px 0px 20px;
}

.tab-head {
    padding: 20px;
    border: 1px solid #888888;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
}
.tab-head:active {
    border-bottom: none;
}