<!-- <header>
   List of menus and sub-menus 
  <ul>
    <li *ngFor="let menu of menus" class="menu-item">
      <a class="menu-name"> {{menu.name | uppercase}} </a>
      <ul *ngIf="menu.subMenus" class="dropdown-content">
        <li *ngFor="let submenu of menu.subMenus" class="sub-menu"> {{submenu.name | uppercase}} </li>
      </ul>
    </li>
  </ul>
</header> -->
<div id="skip-content" class="content-right">
  <a href="#" id="skip-content-text">Skip to main content</a>
</div>
<div class="row">
  <div class="social-icons">
    <!-- first 3 columns, bootstap grid model -->
    <ul>
      <li><a aria-label="Facebook" href="https://www.facebook.com/bseindia" target="_blank" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a aria-label="twitter" href="#" onclick="Display(1);" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a aria-label="Linkedin" href="https://www.linkedin.com/company/bombay-stock-exchange-limited?trk=cp_followed_name_bombay-stock-exchange-limited" target="_blank" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>

      <li><a aria-label="RSS" data-toggle="modal" data-target="#rss1" href="#" class="social-icon" title="RSS"><i class="fa fa-rss"></i></a></li>
      <li><a aria-label="Youtube" href="https://www.youtube.com/user/BSEworld" target="_blank" class="social-icon" title="Youtube"><i class="fa fa-youtube"></i></a></li>
  </ul>
  </div>
  <div>
    <!-- last 9 columns, bootstap grid model -->
  </div>
</div>
<router-outlet></router-outlet>