<!-- <header>
   List of menus and sub-menus 
  <ul>
    <li *ngFor="let menu of menus" class="menu-item">
      <a class="menu-name"> {{menu.name | uppercase}} </a>
      <ul *ngIf="menu.subMenus" class="dropdown-content">
        <li *ngFor="let submenu of menu.subMenus" class="sub-menu"> {{submenu.name | uppercase}} </li>
      </ul>
    </li>
  </ul>
</header> -->
<div id="skip-content" class="content-right">
  <a href="#" id="skip-content-text">Skip to main content</a>
</div>
<div class="row">
  <div class="social-icons">
    <!-- first 3 columns, bootstap grid model -->
  </div>
  <div>
    <!-- last 9 columns, bootstap grid model -->
  </div>
</div>
<router-outlet></router-outlet>