#skip-content {
  background-color: #0089d0;
  padding: 8px 0px;
  width: 100%;
}
#skip-content-text {
  text-decoration: none;
  color: white;
  margin: 0px 5px;
}
#skip-content-text:hover {
  text-decoration: underline;
}
.content-right {
  text-align: right;
}

#div-socialicons {
  display: inline-block;
  width: 15%;
}

#div-indirect {
  display: inline-block;
  height: inherit;
  vertical-align: middle;
}

#div-language-drop {
  display: inline-block;
  width: 12%;
  height: inherit;
  vertical-align: middle;
  margin-left: 30px;
}
#div-group-websites {
  display: inline-block;
  width: 12%;
  height: inherit;
  vertical-align: middle;
  margin-left: 30px;
}
/* ---- Below indirect links styles */
ul {
  list-style-type: none;
  margin: auto;
  padding-left: 10px;
  overflow: hidden;
}

li {
  /* li.menu-item */
  float: left;
  color: white;
}

li a {
  /* li.menu-item a */
  display: block;
  text-align: center;
  padding: 0px 2px;
  text-decoration: none;
  font-size: 12px;
  color: white;
}

li a:hover { cursor: pointer; 
color:red;}

#bse-payment{
  color: #FFFF00;
}

#bse-payment:hover{
  color:red;
}
/* ---- Above indirect links styles */
.row {
  margin: 0px;
  height: 50px;
}

#router-outlet-container {
  width: 100%;
  min-height: 659px;
  margin: 0px;
}