<div class='row' id='row'>
    <direct-links [menus]="Menus"></direct-links>
</div>
<div id="home-container">
    <div id="market" class="internal">
        <div id="graph" class="carousel slide" data-ride="carousel">
            <div class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
            <div class="item active">
                <div id="graph-slid-head">
                    <span id="market-logo" class="block">&nbsp;</span>
                    <span id="date-time" class="text-right block">{{date}}&nbsp;|&nbsp;{{time}}&nbsp;|&nbsp;{{marketStatus}}</span>
                </div>
                <graph [graphMeta]="graphOne"></graph>
                <div class="slider-bottom">
                    <a class="button">Sensex View</a>
                    &nbsp;
                    <a class="button">Market Watch</a>
                </div>
            </div>
            <div class="item">
                <div id="graph-slid-head">
                    <span id="market-logo" class="block">&nbsp;</span>
                    <span id="date-time" class="text-right block">{{date}}&nbsp;|&nbsp;{{time}}&nbsp;|&nbsp;{{marketStatus}}</span>
                </div>
                <!-- <graph [graphMeta]="graphTwo"></graph> -->
                <div class="slider-bottom">
                    <a class="button">Graph 2</a>
                    &nbsp;
                    <a class="button">Graph 2</a>
                </div>
            </div>
        </div>
        </div>
        <div id="data-table">
            <tabs class="head-bg-blue" fontStyle="color-white">
                <tab *ngFor="let tab of gainerLoser" title="{{tab.head}}" active="{{tab.isActive}}">
                  {{tab.content}}
                  <br>
                  <button name="" (onClick)="getCapsRestData" class="button">CAPS REST service</button>
                </tab>
            </tabs>
        </div>
    </div>
    <div id="bse" class="internal">
        <div id="bse-news" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <ng-container *ngFor="let new of news; let i=index" id="image-container" class="carousel-inner">
                <div *ngIf="i==0;" class="item active">
                    <div>
                        <img src="{{new.imageUrl}}" style="width:100%; height: 300px;">
                    </div>
                    <div>
                        <h2>{{new.heading}}</h2>
                        <p>{{new.content}}</p>
                    </div>
                </div>
                <div *ngIf="i!=0;" class="item">
                    <div>
                        <img src="{{new.imageUrl}}" style="width:100%; height: 300px;">
                    </div>
                    <div>
                        <h2>{{new.heading}}</h2>
                        <p>{{new.content}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
        <div id="bse-startup">
            <div class="bannerbotpad">
                <a href="https://www.startupsbse.com" target="_blank">
                    <img src="../../assets/STP_Banner.jpg" alt="BSE Startups Platform" title="BSE Startups Platform">
                </a>
            </div>
            <div class="bannerbotpad">
                <a href="https://membership.bseindia.com" target="_blank">
                    <img src="../../assets/StarMFWebBanner_Home.jpg" alt="Star MF WebBanner" title="Star MFWeb Banner">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row bottom">
   <div class="market-data">
       <!-- 75% -->
       <div id="derivatives">
           <derivatives></derivatives>
       </div>
       <div id="statistics">
           <statistics></statistics>
       </div>
       <div id="qrtlyresults" class="container">
           <quarterly-results></quarterly-results>
       </div>
   </div> 
   <!-- <div class="bse-trending">
        25% 
       <div></div>
   </div> -->
</div>