<div id="market" class="statistics">
    <div>
        <h4>Market Statistics</h4>
    </div>
    <div class="box">
        <table width="100%">
            <tr width="100%">
                <td width="75%">Market Capitalization of BSE Listed Co. (Rs.Cr.)</td>
                <td width="25%" class="text-right">1,20,81,461.88</td>
            </tr>
            <tr>
                <td width="75%">Registered Investors</td>
                <td width="25%" class="text-right">4,89,79,617</td>
            </tr>
        </table>
    </div>
</div>
<div id="listing" class="statistics">
    <div>
        <h4>Listing Statistics</h4>
    </div>
    <div class="box">
        <table width="100%">
            <tr width="100%">
                <td width="75%">No of Cos with Listed Equity Capital (a)</td>
                <td width="25%" class="text-right">4,722</td>
            </tr>
            <tr>
                <td width="75%">Registered Investors</td>
                <td width="25%" class="text-right">4,89,79,617</td>
            </tr>
        </table>
    </div>
</div>